%nav.top-bar
  %section.top-bar-section
    %ul.left
      %li= link_to 'Entries', entries_path
      %li.divider
      %li= link_to 'Word', words_path
      %li.divider
      %li= link_to 'Hottest', hottest_words_path
    %ul.right
      %li
        = mail_to 'huy.dinh@eastagile.com' do
          %i.fa.fa-envelope-o
      %li
        = link_to '#' do
          &#169;
          2014
