.row
  = form_tag hottest_in_range_words_path do
    .row.collapse
      .large-6.columns
        .small-10.columns
          = select_tag :from_date, options_for_select(from_date_options)
        .small-2.columns
          = submit_tag 'Filter', class: 'button postfix'
#wordcloud
  - @ranked_words.each do |word_with_point|
    - word = word_with_point.first
    - point = word_with_point.last
    %span(data-weight="#{point.to_i}")
      = link_to word.text, word_path(word)
