%h1
  = @word.text
%table
  %thead
    %th Title
    %th href
    %th hn_id
    %th created_at
  %tbody
    - @word.entries.sorted.each do |entry|
      %tr
        %td= entry.title
        %td= link_to entry.href, entry.href
        %td= entry.hn_id
        %td= "#{distance_of_time_in_words(Time.now, entry.created_at)} ago"

